*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
  }
  @media screen and (max-width: 1024px) {
    html {
      font-size: 51%;
    }
  }
  @media screen and (max-width: 471px) {
    html {
      font-size: 40%;
    }
  }
body{
    display: flex;
    background: url("cartoon-image-of-cellphone-icon-smartphone-vector-15659676-removebg-preview.png");
    background-repeat: no-repeat;
    position: relative;
    justify-content: center;
    align-items: center;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.container{
    position: absolute;
    /* top: 40px; */
    background-image: linear-gradient(to right, rgb(230, 191, 191) , rgb(73, 241, 185));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 24rem;
    height: 44rem;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-bottom: 40px;
    
    
}
.heading{
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.number{
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.myubuttons{
    position: absolute;
    bottom: 122px;
    
    /* margin: 0px 20px; */
    /* background-color: yellow; */
    width: 16.5%;
    display: flex;
    justify-content: space-around;

}
#btn{
    padding: 3px;
    
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}
.decrement{
    background-color: yellow;
    font-size: 1.3rem;
    border: 1px solid transparent;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.Reset{
    background-color: red;
    color: white;
    font-size: 1.3rem;
    width: 80px;
    border: 1px solid transparent;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    

}
.increment{
    background-color: rgb(52, 223, 52);
    border: 1px solid transparent;
    border-bottom-right-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}
.Reset:active{
    transform: scale(0.1);
    transition: 0.5s;
}
.decrement:active{
    transform: scale(0.1);
    transition: 0.5s;
}
.increment:active{
    transform: scale(0.1);
    transition: 0.5s;
}

@media screen and (max-width: 1321px ) {
    .myubuttons{
        position: absolute;
        bottom: 0px;
        
        /* margin: 0px 20px; */
        /* background-color: yellow; */
        width: 17.5%;
        display: flex;
        justify-content: space-between;
        margin: 0 px 10px;
    
    }
  }
  @media screen and (max-width: 1037px) {
    .myubuttons{
        position: absolute;
        bottom: 0px;
        
        /* margin: 0px 20px; */
        /* background-color: yellow; */
        width: 23%;
        display: flex;
        justify-content: space-between;
        margin: 0 px 10px;
    
    }
  }

  @media screen and (max-width: 335px) {
    .container{
        position: absolute;
        /* top: 40px; */
        background-image: linear-gradient(to right, rgb(230, 191, 191) , rgb(73, 241, 185));
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 38rem;
        height: 70rem;
        border: 1px solid transparent;
        border-radius: 10px;
        margin-bottom: 40px;
        
        
    }
    .heading{
        font-size: 8rem;
        color: white;
        text-shadow: 2px 2px 4px #000000;
    }
    .number{
        font-size: 8rem;
        color: white;
        text-shadow: 2px 2px 4px #000000;
    }
    .myubuttons{
        position: absolute;
        bottom: 0px;
        
        /* margin: 0px 20px; */
        /* background-color: yellow; */
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0px 40px;
    
        padding: 0px 15px;
    
    }
    #btn{
        padding: 5px;
        
        border-radius: 10px;
        font-size: 1.8rem;
        font-weight: bold;
        cursor: pointer;
        
    }
    .Reset:active{
        transform: scale(0.5);
        transition: 0.9s;
    }
    .decrement:active{
        transform: scale(0.5);
        transition: 0.9s;
    }
    .increment:active{
        transform: scale(0.05);
        transition: 0.9s;
    }
  }
  @media screen and (max-width: 1335px ) {
    .myubuttons{
        position: absolute;
        bottom: -45px;
        left: 8px;
        
        /* margin: 0px 20px; */
        /* background-color: yellow; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        

    
    }
  }
  @media screen and (max-width: 5287px ) {
    .myubuttons{
        position: absolute;
        bottom: -45px;
        left: 8px;
        
        /* margin: 0px 20px; */
        /* background-color: yellow; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        

    
    }
  }
  @media screen and (max-width: 999px ) {
    .myubuttons{
        position: absolute;
        bottom: -45px;
        left: 8px;
        
        /* margin: 0px 20px; */
        /* background-color: yellow; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        

    
    }
    .container{
        position: absolute;
        /* top: 40px; */
        background-image: linear-gradient(to right, rgb(230, 191, 191) , rgb(73, 241, 185));
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 30rem;
        height: 54rem;
        border: 1px solid transparent;
        border-radius: 10px;
        margin-bottom: 40px;
        
        
    }

  }
  @media screen and (max-width: 463px ) {
    .myubuttons{
        position: absolute;
        bottom: -45px;
        left: 8px;
        
        /* margin: 0px 20px; */
        /* background-color: yellow; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        

    
    }
    .container{
        position: absolute;
        /* top: 40px; */
        background-image: linear-gradient(to right, rgb(230, 191, 191) , rgb(73, 241, 185));
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 38rem;
        height: 68rem;
        border: 1px solid transparent;
        border-radius: 10px;
        margin-bottom: 40px;
        
        
    }

  }
  @media screen and (max-width: 471px ) {
    .myubuttons{
        position: absolute;
        bottom: -45px;
        left: 8px;
        
        /* margin: 0px 20px; */
        /* background-color: yellow; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        

    
    }
    .container{
        position: absolute;
        /* top: 40px; */
        background-image: linear-gradient(to right, rgb(230, 191, 191) , rgb(73, 241, 185));
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 38rem;
        height: 68rem;
        border: 1px solid transparent;
        border-radius: 10px;
        margin-bottom: 40px;
        
        
    }

  }